<!DOCTYPE html>
<html>
<head>
  {{template "head"}}
</head>
<body>
  {{template "navbar"}}
  <div class="container">
    <h1 class="py-4">
      {{.Game.Name | WithoutTags}}
      {{range $_, $tag := (Tags .Game.Name) }}
        <span class="badge badge-secondary">{{$tag}}</span>
      {{end}}
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{.System}}">{{.System}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{.Game.Name}}</li>
      </ol>
    </nav>
    <p>{{.Game.Description}}</p>
    <p><strong>Genre:</strong> {{.Game.Genre}}</p>
    <p><strong>Developer:</strong> {{.Game.Developer}}</p>
    <p><strong>Publisher:</strong> {{.Game.Publisher}}</p>
    <p><strong>Franchise:</strong> {{.Game.Franchise}}</p>
    <p><strong>Serial:</strong> {{.Game.Serial}}</p>
    <p><strong>Size:</strong> {{.Game.Size}}</p>
    <p><strong>CRC32:</strong> {{.Game.CRC32}}</p>
    <p><img src="http://thumbnails.libretro.com/{{.System}}/Named_Boxarts/{{.Game.Name | Clean}}.png" onerror="this.src='/img-broken.png'"></p>
    <p><img src="http://thumbnails.libretro.com/{{.System}}/Named_Titles/{{.Game.Name | Clean}}.png" onerror="this.src='/img-broken.png'"></p>
    <p><img src="http://thumbnails.libretro.com/{{.System}}/Named_Snaps/{{.Game.Name | Clean}}.png" onerror="this.src='/img-broken.png'"></p>
  </div>
</body>
</html>