{{define "navbar"}}
<div class="bg-light">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Libretro Database</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/franchise">Franchises</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/developer">Developers</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/publisher">Publishers</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/genre">Genres</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/origin">Origins</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
{{end}}