<!DOCTYPE html>
<html>
<head>
  {{template "head"}}
</head>
<body>
  {{template "navbar"}}
  <div class="container">
    <h1 class="py-4">{{.TagType | title}}</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{.TagType | title}}</li>
      </ol>
    </nav>
    <table class="table">
      {{range $tag, $games := .PerTag}}
      <tr>
        <td><a href="/{{$.TagType}}/{{$tag | Clean}}.html">{{$tag}}</a></td>
        <td>{{len $games}} games</td>
      </tr>
      {{end}}
    </table>
  </div>
</body>
</html>